.Fretboard {
  display: flex;
  flex-direction: row;
  margin: 0.25rem 0 0rem 0;
  border: 2px solid #424242;
  border-radius: 5px;
}

.sectionContainer {
  margin-top: 0.35rem;
  width: 100%;
}

.titleDiv {
  background: transparent;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

.titleDiv input {
  background: transparent;
  font-size: 1.2rem;
  font-family: "Oswald";
  font-weight: 400;
  outline: transparent;
  text-align: center;
  background-color: transparent;
}

.titleDiv h2 {
  
  font-weight: 400;
  font-size: 1.2rem;
  font-family: "Oswald";
}

.diagramName {
  cursor: pointer;
}
.diagramName:hover {
  opacity: 0.5;
}

textarea:focus,
input,
input:focus {
  border: none;
}

@media only screen and (max-width: 768px) {
  .Fretboard {
    width: 800px;
  }

  .fretboardCont {
    width: 100%;
    white-space: nowrap;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .fretboardCont::-webkit-scrollbar {
    display: none;
  }
}
