.login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 1.5rem;
}

.login button {
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 5px;
    padding: 0.25rem;
}

.login button:hover {
    background: #FD5151;
    color: white;
}